@media only screen and (max-width: 2560px){
    .mypadding{
        padding-top: 7%;
    }
}

@media only screen and (max-width: 768px){
    .mypadding{
        padding-top: 20%;
    }
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

img{
    max-width: 80%;
    height: auto;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

.navbar {
    text-transform: uppercase;
}

/*Прижимаєм футер*/
.content {
    min-height: calc(100vh - 42px);
}

.answers{
    text-align: center;
    font-size: 18px;
    padding: inherit;
}

.right_answer{
    color: green;
}

.not_right_answer{
    color: red;
}

.myUpper {
    text-transform: uppercase;
    text-align: center;
}

.logobird{
    max-width: inherit;
    max-height: inherit;
    align-content: flex-end;
}